<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">startDateTime</th>
        <th scope="col">endDateTime</th>
        <th scope="col">url</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{event.title}}</td>
          <td>{{event.title}}</td>
          <td>{{event.startDateTime}}</td>
          <td>{{event.endDateTime}}</td>
          <td>{{event.url}}</td>
        </tr>
    </tbody>
  </table>
</div>